<% include partials/header %>
    <% include partials/all_menu %>

    <% 
    var vegPlan = [
    {
        name: 'Trial 1 Day',
        days: 1,
        soup_cost: 249,
        salad_cost: 199
    },
    {
        name:'Trial 3 Days',
        days: 3,
        soup_cost: 229,
        salad_cost:189
    },
    {
        name: 'Wellness 7 Days',
        days: 7,
        soup_cost: 219,
        salad_cost: 179
    },
    {
        name: 'Wellness 14 Days',
        days: 14,
        soup_cost: 199,
        salad_cost: 169
    },
    {
        name: 'Fit 21 Days',
        days: 21,
        soup_cost: 179,
        salad_cost: 159
    },
    {
        name: 'Fit 28 Days',
        days: 28,
        soup_cost: 169,
        salad_cost: 149
    }
];

var nonVegPlan = [
    {
        name: 'Trial 1 Day',
        days: 1,
        soup_cost: 269,
        salad_cost: 219
    },
    {
        name:'Trial 3 Days',
        days: 3,
        soup_cost: 249,
        salad_cost:199
    },
    {
        name: 'Wellness 7 Days',
        days: 7,
        soup_cost: 239,
        salad_cost: 189
    },
    {
        name: 'Wellness 14 Days',
        days: 14,
        soup_cost: 219,
        salad_cost: 179
    },
    {
        name: 'Fit 21 Days',
        days: 21,
        soup_cost: 199,
        salad_cost: 169
    },
    {
        name: 'Fit 28 Days',
        days: 28,
        soup_cost: 179,
        salad_cost: 159
    }
];
    %>

        <head>
            <meta charset="utf-8">
            <title>Begin Your Subscription</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.css">
            <link rel="stylesheet" href="assets/css/style.css">

            <link rel="stylesheet" type="text/css" href="assets/css/colors/switch.css">
            <!-- Color Alternatives -->
            <link href="assets/css/colors/color-2.css" rel="alternate stylesheet" type="text/css" title="color-2">
            <link href="assets/css/colors/color-3.css" rel="alternate stylesheet" type="text/css" title="color-3">
            <link href="assets/css/colors/color-4.css" rel="alternate stylesheet" type="text/css" title="color-4">
            <link href="assets/css/colors/color-5.css" rel="alternate stylesheet" type="text/css" title="color-5">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        </head>

        <body>
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <!-- <span class="close" onclick="closeModal()">&times;</span>-->
                  <h2 id="modal-title">Your Modal Title</h2>
                  <p style="font-size: larger;" id="modal-content">Your modal content goes here.</p>
                  <div class="d-flex" style="justify-content: flex-end;">
                    <button onclick="closeModal()" class="modal-btn"><strong>Close</strong></button>
                  </div>
                </div>
            </div>
            <div  class="wrapper wizard d-flex clearfix multisteps-form position-relative">
                <div id="progressStatus" style="background-color:#000000;" class="steps order-2 position-relative w-25">
                    <div style="background-color:#000000;" class="multisteps-form__progress">
                        <span class="multisteps-form__progress-btn js-active" ><i
                                class="far fa-user"></i><span>Goal</span></span>
                        <span class="multisteps-form__progress-btn" ><i style="color:#B0B0B0;"
                                class="far fa-user"></i><span>Meal Plan</span></span>
                        <span class="multisteps-form__progress-btn" ><i
                                style="color:#B0B0B0;" class="far fa-user"></i><span>Personal Details</span></span>
                        <span id="snp" class="multisteps-form__progress-btn" ><i
                                style="color:#B0B0B0;" class="far fa-user"></i><span>Checkout & Pay</span></span>
                               
                                </div>
                        <!-- <span class="multisteps-form__progress-btn" title="Review"><i style="color:#B0B0B0;" class="far fa-user"></i><span>Review & Pay</span></span> -->
                        <div class="wizard-v3-progress" style="margin-left: 5px; position: sticky; top:85%;">
                            <span id="span">1 to 4 Step</span>
                            <h3 id="h3">25% Completed</h3>
                            <div class="progress">
                                <div id="progressBar" class="progress-bar" style="width: 25%">
                                </div>
                            </div>
                    </div>
                </div>
                <form class="multisteps-form__form w-75 order-1" action="#" id="wizard">
                    <div class="form-area position-relative">
                        <!-- div 1 -->
                        <div style="background-color: white;" id="goal" class="multisteps-form__panel js-active" data-animation="slideHorz">

                            <div class="gfc">
                                <div class="wizard-title mt-60 text-center">
                                    <h3>Please Select Your Goal</h3>
                                    <!-- <p>To help our nutritionists curate a customised plan for you.</p> -->
                                </div>

                                <div id="goalSelector" class="goal-container">
                                    <div class="d-flex goal-row">
                                        <div class="goal-card custom-card" data-goal="Loose Weight">
                                            <img src="icons/weight-loss.png" alt="">
                                            <div>
                                                Loose Weight
                                            </div>
                                        </div>
                                        <div class="goal-card custom-card" data-goal="Healthy Eating">
                                            <img src="icons/salad.png" alt="">
                                            <div>
                                                Healthy Eating
                                            </div>
                                        </div>
                                        <div class="goal-card custom-card" data-goal="Muscle Gain">
                                            <img src="icons/muscles.png" alt="">
                                            <div>
                                                Muscle Gain
                                            </div>
                                        </div>
                                        <div class="goal-card custom-card" data-goal="Detox">
                                            <img src="icons/detox.png" alt="">
                                            <div>
                                                Detox
                                            </div>
                                        </div>
                                        <div class="goal-card custom-card" data-goal="Light Dinner">
                                            <img src="icons/bowl-of-soup.png" alt="">
                                            <div>
                                                Light Dinner
                                            </div>
                                        </div>
                                        <div class="goal-card custom-card" data-goal="Not Sure">
                                            <h4>Not Sure?</h4>
                                            <div>Let our nutritionist decide</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- /.inner -->
                        <!-- <div class="vector-img-one">
                            <img src="assets/img/vb1.png" alt="">
                        </div> -->

                        <!-- div 1 -->

                        <!-- div 2 -->
                        <div id="meal" class="multisteps-form__panel" data-animation="slideHorz">
                            <div class="custom-container">
                                <div class="plan-container">
                                    <div class="wizard-title text-center">
                                        <h3>Select Your Plan Preference</h3>
                                        <!-- <p>Your meal will be delivered to your address on your preferred days and time
                                                    slot.</p> -->
                                    </div>
                                    <div class="preference-selector-container">
                                        <h3>Choose Preference</h3>
                                        <div id="mealType" class="preference-selector">
                                            <div class="pref-card custom-card" data-pref="Vegetarian">
                                                <img src="icons/vegetables.png" alt="">
                                                <div>Vegetarian</div>
                                            </div>
                                            <div class="pref-card custom-card" data-pref="Non-Vegetarian"                                        ">
                                                <img src="icons/roast-chicken.png" alt="">
                                                <div>Non-Vegetarian</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="plan-selector-container">
                                        <h3>Select Your Plan</h3>
                                        <div class="plan-selector">
                                            <%for(var i=0; i < 6; i++) {
                                                if(i%2 == 0) { %>
                                                <div class="plan-row">
                                                    <% } %>
                                                    <div class="card plan-card vegPlan" data-i = <%= i %> <% if (i===0) { %> id =  <%= "vegClick" %> <% } %>>
                                                        <div class="card-header">
                                                            <h4><%= vegPlan[i].name %></h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="custom_row_plan">
                                                                <tiny>₹</tiny>
                                                                <h3 class="price-per-meal"><%= vegPlan[i].soup_cost %></h3>
                                                                <p>/meal</p>
                                                            </div><br><br>
                                                            <div class="custom_row_plan">
                                                                <tiny>₹</tiny>&nbsp; <div class="plan-price"><%= vegPlan[i].soup_cost * vegPlan[i].days %></div>
                                                            </div><br>
                                                            <div class="custom_row_plan">
                                                                <p><i class="icon-hotel-room_service"></i>&nbsp;<%= vegPlan[i].days %> Meal
                                                                    &nbsp;<i class="icon_chat"></i>&nbsp;Personal
                                                                    Nutritionist</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% if(i%2 == 1) { %>
                                                </div>
                                                <% } %>
                                                <% } %>
                                                <%for(var i=0; i < 6; i++) {
                                                    if(i%2 == 0) { %>
                                                    <div class="plan-row ">
                                                        <% } %>
                                                        <div class="card plan-card hidden nonVegPlan"  data-i = <%= i %> <% if (i===0) { %> id =  <%= "nonVegClick" %> <% } %>>
                                                            <div class="card-header">
                                                                <h4><%= nonVegPlan[i].name %></h4>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="custom_row_plan">
                                                                    <tiny>₹</tiny>
                                                                    <h3 class="price-per-meal"><%= nonVegPlan[i].soup_cost %></h3>
                                                                    <p>/meal</p>
                                                                </div><br><br>
                                                                <div class="custom_row_plan">
                                                                    <tiny>₹</tiny>&nbsp; <div class="plan-price"><%= nonVegPlan[i].soup_cost * nonVegPlan[i].days %></div>
                                                                </div><br>
                                                                <div class="custom_row_plan">
                                                                    <p><i class="icon-hotel-room_service"></i>&nbsp;<%= nonVegPlan[i].days %> Meal
                                                                        &nbsp;<i class="icon_chat"></i>&nbsp;Personal
                                                                        Nutritionist</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% if(i%2 == 1) { %>
                                                    </div>
                                                    <% } %>
                                                    <% } %>                                        
                                        </div>
                                    </div>
                                    <br>

                                    

                                    <div class="row" id="mealSelector">
                                        <div class="col-md-6">
                                            <div class="card" style="width: 50%;" id="lunch">
                                                <div class="card-header">
                                                    <h4>Lunch</h4>
                                                </div>
                                                <div class="wizard-checkbox-option"
                                                    style="padding-left: 15px; padding-bottom: 15px;">
                                                    <ul>
                                                        <li>
                                                            <label class="block-option">
                                                                <input id="soup-lunch" type="checkbox"
                                                                    class="checked-checkbox" checked value="249"
                                                                    name="Soup-Lunch" data-meal = "soup">
                                                                <span class="checkbox-tick"></span>
                                                                <span class="day-label">Soup</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="block-option">
                                                                <input id="salad-lunch" type="checkbox" data-meal = "salad"
                                                                    class="checked-checkbox" value="199" name="Salad-Lunch">
                                                                <span class="checkbox-tick"></span>
                                                                <span class="day-label">Salad</span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card" style="width: 50%;" id="dinner">
                                                <div class="card-header">
                                                    <h4>Dinner</h4>
                                                </div>
                                                <div class="wizard-checkbox-option"
                                                    style="padding-left: 15px; padding-bottom: 15px;">
                                                    <ul>
                                                        <li>
                                                            <label class="block-option">
                                                                <input id="soup-dinner" type="checkbox" data-meal = "soup"
                                                                    class="checked-checkbox" value="249" name="Soup-Dinner">
                                                                <span class="checkbox-tick"></span>
                                                                <span class="day-label">Soup</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="block-option">
                                                                <input type="checkbox" class="checked-checkbox" data-meal = "salad"
                                                                    id="salad-dinner" value="199" name="Salad-Dinner">
                                                                <span class="checkbox-tick"></span>
                                                                <span class="day-label">Salad</span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="wizard-form-input">
                                        <span class="wizard-sub-text">Add Ons</span>
                                        <select id="addons" class=" input-border" style="background-color: white;" onchange="setAddOns()">
                                            <option value="0">None</option>
                                            <option value="59">Soup Sticks</option>
                                            <option value="59">Croutons</option>
                                            <option value="119">Soup Sticks + Croutons</option>
                                            <option value="59">Olive Pate Garlic Bread</option>
                                            <option value="119">Soup Sticks + Olive Pate Garlic Bread</option>
                                            <option value="119">Olive Pate Garlic Bread + Croutons</option>
                                            <option value="159">Soup Sticks + Olive Pate Garlic Bread + Croutons
                                            </option>
                                        </select>
                                    </div>
    
                                    <div class="price-display-container">
                                        <h1>Plan Price Breakdown</h1>
                                        <table class="table">
                                            <tr>
                                                <th>Plan Price:</th>
                                                <td><span id="b_plan_price"></span></td>
                                            </tr>
                                            <tr>
                                                <th>Discount:</th>
                                                <td><span id="b_discount_price"></span></td>
                                            </tr>
                                            <tr>
                                                <th>Final Plan Price:</th>
                                                <td><span id="b_discounted_price"></span></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="back-next">
                                            <button id="back-meal">BACK</button>
                                            <button id="next-meal">NEXT</button>
                                    </div>
    
    
    
    
                                    <!--<div class="wizard-document-upload pb-200">
                                        <span class="wizard-sub-text">Upload the documents</span>
                                        <div class="custom-file position-relative">
                                            <input type="file" class="custom-file-input form-control d-none" id="customFile">
                                            <label class="custom-file-label" for="customFile">jpg or .pdf should  be more than 500KB or 300PI</label>
                                        </div>
                                    </div>-->
                                    <!-- <div class="wizard-form-input mb-60 mt-60"> -->
                                        <!-- <div class="line line2"></div> -->
                                    <!-- </div> -->
                                   
                                </div>
                                <!-- ./inner -->
                                <!-- <div class="vector-img-one">
                                    <img src="assets/img/vb3.png" alt="">
                                </div> -->
                               
                            </div>

                        </div>
                    </div>

           
            
            <!-- div 4 -->
            <div class="multisteps-form__panel " data-animation="slideHorz">
                <div class="wizard-forms section-padding">
                    <div class="inner pb-100 clearfix">
                        <div class="wizard-title text-center">
                            <h3>Add Your Personal Details</h3>
                            <!-- <p>To help our nutritionists curate a customised plan for you.</p> -->
                        </div>
                        <!-- <div class="d-flex" style="align-items: center; justify-content: center;">
                            <h3>Select Your Gender</h3>
                        </div> -->
                        <div class="gender-container">
                            <div class="custom-card messup" data-gender="Male">
                                <img src="icons/young-man.png" alt="">
                            </div>
                            <div class="custom-card messup" data-gender="Female">
                                <img src="icons/woman.png" alt="">
                            </div>
                        </div>
                        <div class="alt-container">
                            <div class="alt hidden">
                                <label for="name">
                                    Name
                                </label>
                                <input type="text" id="name1" placeholder="" class="form-control input-border" onChange="setName1()">
                            </div>
                            <div class="alt hidden">
                                <label for="phone">
                                    Ph No.
                                </label>
    
                                <input type="text" pattern="\d{0,10}" maxlength="10" class="form-control input-border" id="phone1" name="phone" placeholder=""
                                    onkeyup = "setPhone1()" />
                            </div>
                            <div class="alt hidden">
                                <label class="">Age (Yrs)</label>
                                    <input class="form-control input-border" type="text" pattern="\d{0,10}" maxlength="10" id="age1" name="age"
                                        onkeyup="setBMIData1()">
                            </div>
                            <div class="alt hidden">
                                <label class="">Weight (kg)</label>
                                <input class="form-control input-border" type="text" pattern="\d{0,10}" maxlength="10" step="0.1" name="weight" id="weight1"
                                    onkeyup="setBMIData1()">
                            </div>
                            <div class="alt hidden">
                                <label class="">Height (ft)</label>
                                <!-- <div class="input1 " style=""> -->
                                    <select class="form-control input-border" style="text-align: center; background-color: white;" id="height1"
                                        onchange="setBMIData1()">
                                        <option value=""></option>
                                        <option value="4 ft 0 inch">4'0"</option>
                                        <option value="4 ft 1 inch">4'1"</option>
                                        <option value="4 ft 2 inch">4'2"</option>
                                        <option value="4 ft 3 inch">4'3"</option>
                                        <option value="4 ft 4 inch">4'4"</option>
                                        <option value="4 ft 6 inch">4'6"</option>
                                        <option value="4 ft 7 inch">4'7"</option>
                                        <option value="4 ft 8 inch">4'8"</option>
                                        <option value="4 ft 9 inch">4'9"</option>
                                        <option value="4 ft 10 inch">4'10"</option>
                                        <option value="4 ft 11 inch">4'11"</option>
                                        <option value="5 ft 0 inch">5'0"</option>
                                        <option value="5 ft 1 inch">5'1"</option>
                                        <option value="5 ft 2 inch">5'2"</option>
                                        <option value="5 ft 3 inch">5'3"</option>
                                        <option value="5 ft 4 inch">5'4"</option>
                                        <option value="5 ft 5 inch">5'5"</option>
                                        <option value="5 ft 6 inch">5'6"</option>
                                        <option value="5 ft 7 inch">5'7"</option>
                                        <option value="5 ft 8 inch">5'8"</option>
                                        <option value="5 ft 9 inch">5'9"</option>
                                        <option value="5 ft 10 inch">5'10"</option>
                                        <option value="5 ft 11 inch">5'11"</option>
                                        <option value="6 ft 0 inch">6'0"</option>
                                        <option value="6 ft 1 inch">6'1"</option>
                                        <option value="6 ft 2 inch">6'2"</option>
                                        <option value="6 ft 3 inch">6'3"</option>
                                        <option value="6 ft 4 inch">6'4"</option>
                                        <option value="6 ft 5 inch">6'5"</option>
                                        <option value="6 ft 6 inch">6'6"</option>
                                        <option value="6 ft 7 inch">6'7"</option>
                                        <option value="6 ft 8 inch">6'8"</option>
                                        <option value="6 ft 9 inch">6'9"</option>
                                        <option value="6 ft 10 inch">6'10"</option>
                                        <option value="6 ft 11 inch">6'11"</option>
                                    </select>
                            </div>
                        </div>
                        <div>
                            <!-- <h1 class="bowl">Personal Details</h1> -->
                            <div class="spoon d-flex ">
                                <label for="name">
                                    Name
                                </label>
                                <input type="text" id="name" placeholder="" class=" input1" onChange="setName()">
                                <label for="phone">
                                    Ph No.
                                </label>

                                <input type="text" pattern="\d{0,10}" maxlength="10" class=" input1" id="phone" name="phone" placeholder=""
                                    onkeyup = "setPhone()" />
                                    
                            </div>
                        </div>
                        <div class="d-flex akash">
                            <label class="bgmi-label">Age (Yrs)</label>
                                <input class="input1" type="text" pattern="\d{0,10}" maxlength="10" id="age" name="age"
                                    onkeyup="setBMIData()">
                            <label class="bgmi-label">Weight (kg)</label>
                                <input class="input1" type="text" pattern="\d{0,10}" maxlength="10" step="0.1" name="weight" id="weight"
                                    onkeyup="setBMIData()">

                            <label class="bgmi-label">Height (ft)</label>
                            <!-- <div class="input1 " style=""> -->
                                <select class="input1" style="text-align: center; background-color: white;" id="height"
                                    onchange="setBMIData()">
                                    <option value=""></option>
                                    <option value="4 ft 0 inch">4'0"</option>
                                    <option value="4 ft 1 inch">4'1"</option>
                                    <option value="4 ft 2 inch">4'2"</option>
                                    <option value="4 ft 3 inch">4'3"</option>
                                    <option value="4 ft 4 inch">4'4"</option>
                                    <option value="4 ft 6 inch">4'6"</option>
                                    <option value="4 ft 7 inch">4'7"</option>
                                    <option value="4 ft 8 inch">4'8"</option>
                                    <option value="4 ft 9 inch">4'9"</option>
                                    <option value="4 ft 10 inch">4'10"</option>
                                    <option value="4 ft 11 inch">4'11"</option>
                                    <option value="5 ft 0 inch">5'0"</option>
                                    <option value="5 ft 1 inch">5'1"</option>
                                    <option value="5 ft 2 inch">5'2"</option>
                                    <option value="5 ft 3 inch">5'3"</option>
                                    <option value="5 ft 4 inch">5'4"</option>
                                    <option value="5 ft 5 inch">5'5"</option>
                                    <option value="5 ft 6 inch">5'6"</option>
                                    <option value="5 ft 7 inch">5'7"</option>
                                    <option value="5 ft 8 inch">5'8"</option>
                                    <option value="5 ft 9 inch">5'9"</option>
                                    <option value="5 ft 10 inch">5'10"</option>
                                    <option value="5 ft 11 inch">5'11"</option>
                                    <option value="6 ft 0 inch">6'0"</option>
                                    <option value="6 ft 1 inch">6'1"</option>
                                    <option value="6 ft 2 inch">6'2"</option>
                                    <option value="6 ft 3 inch">6'3"</option>
                                    <option value="6 ft 4 inch">6'4"</option>
                                    <option value="6 ft 5 inch">6'5"</option>
                                    <option value="6 ft 6 inch">6'6"</option>
                                    <option value="6 ft 7 inch">6'7"</option>
                                    <option value="6 ft 8 inch">6'8"</option>
                                    <option value="6 ft 9 inch">6'9"</option>
                                    <option value="6 ft 10 inch">6'10"</option>
                                    <option value="6 ft 11 inch">6'11"</option>
                                </select>

                        </div>
                       
                        <div>
                            <label>Address</label>
                            <input class="form-control input-border" type="text" id="address_1" name="address_1"
                                onChange="setAddress()">
                        </div>

                        <div>
                            <label>Landmark</label>
                            <input class="form-control input-border" type="text" id="landmark" name="landmark"
                                onChange="setAddress()">
                        </div>
                        <div>
                            <label>Pin Code</label>
                            <input class="form-control input-border" type="text" id="pincode" name="pincode" onChange="setAddress()">
                        </div>
                        <div>
                            <label>City</label>
                            <select name="city" class="form-control required input-border" id="city" onchange="setAddress()">
                                <option value=""></option>
                                <option value="Noida">Noida</option>
                                <option value="Delhi">Delhi</option>
                                <!-- <option value="Gurgaon">Gurgaon</option> -->
                            </select>
                        </div>
                        <div class="wizard-checkbox-option ">
                            <div class="d-flex" style="justify-content: center;">
                                <h5 style="font-size: 2rem; margin: 40px 0;">SELECT DAYS</h5>
                            </div>
                            <ul class="input4 d-flex">
                                <li>
                                    <label class="block-option d-flex">
                                        <input type="checkbox"  class="checked-checkbox daySelector" value="Monday"
                                            onclick="setDays('Monday')"  name="options[]">
                                        <span class="checkbox-tick"></span>
                                        <span class="day-label">Monday</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="block-option">
                                        <input type="checkbox" class="checked-checkbox daySelector" value="Tuesday"
                                            onclick="setDays('Tuesday')"  name="options[]">
                                        <span class="checkbox-tick"></span>
                                        <span class="day-label">Tuesday</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="block-option">
                                        <input type="checkbox" class="checked-checkbox daySelector" value="Wednesday"
                                            onclick="setDays('Wednesday')"  name="options[]">
                                        <span class="checkbox-tick"></span>
                                        <span class="day-label">Wednesday</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="block-option">
                                        <input type="checkbox" class="checked-checkbox daySelector" value="Thursday"
                                            onclick="setDays('Thursday')"  name="options[]">
                                        <span class="checkbox-tick"></span>
                                        <span class="day-label">Thursday</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="block-option">
                                        <input type="checkbox" class="checked-checkbox daySelector" value="Friday"
                                            onclick="setDays('Friday')"  name="options[]">
                                        <span class="checkbox-tick"></span>
                                        <span class="day-label">Friday</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="block-option">
                                        <input type="checkbox" class="checked-checkbox daySelector" value="Saturday"
                                            onclick="setDays('Saturday')"  name="options[]">
                                        <span class="checkbox-tick"></span>
                                        <span class="day-label">Saturday</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="block-option">
                                        <input type="checkbox" class="checked-checkbox daySelector" value="Sunday"
                                            onclick="setDays('Sunday')"  name="options[]">
                                        <span class="checkbox-tick"></span>
                                        <span class="day-label">Sunday</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="block-option">
                                        <input id="allDays" type="checkbox" class="checked-checkbox daySelector" value="all"
                                              name="options[]">
                                        <span class="checkbox-tick"></span>
                                        <span class="day-label">Select All</span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        
                    </div>
                    <!-- /.inner -->
                    <div class="vector-img-one">
                        <img src="assets/img/vb2.png" alt="">
                    </div>
                    <div class="back-next">
                        <button id="back-personal">BACK</button>
                            <button id="next-personal">NEXT</button>
                    </div>
                </div>

            </div>


            <!-- div 5 -->
            <div class="multisteps-form__panel" data-animation="slideHorz">
                <div class="wizard-forms">
                    <div class="inner pb-100">
                        <div class="wizard-title text-center">
                            <h3>Review and Pay</h3>
                            <!-- Once the payment is complete,  -->
                            <p>Our nutritionist will call you within 24hrs to
                                curate a plan for you.</p>
                        </div>
                        <table class="table">
                            <tr>
                                <th>Name:</th>
                                <td><span id="s_name"></span></td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td><span id="s_phone"></span></td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td><span id="s_address"></span></td>
                            </tr>
                            <tr>
                                <th>City:</th>
                                <td><span id="s_city"></span></td>
                            </tr>
                            <tr>
                                <th>PIN Code:</th>
                                <td><span id="s_pincode"></span></td>
                            </tr>
                            <tr>
                                <th>Goal:</th>
                                <td><span id="s_goal"></span></td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td><span id="s_gender"></span></td>
                            </tr>
                            <tr>
                                <th>Preferences:</th>
                                <td><span id="s_prefs"></span></td>
                            </tr>
                            <tr>
                                <th>Selected Plan:</th>
                                <td><span id="s_plan_name"></span></td>
                            </tr>
                            <tr>
                                <th>Plan Price:</th>
                                <td><span id="s_plan_price"></span></td>
                            </tr>
                            <tr>
                                <th>Addons:</th>
                                <td><span id="s_plan_addons">None</span></td>
                            </tr>
                            <tr>
                                <th>Selected Meals:</th>
                                <td><span id="s_meals">Soup-Lunch</span></td>
                            </tr>
                            <!-- <tr>
                                    <th>Full Meal:</th>
                                    <td><span id="s_plan_fm"></span></td>
                                </tr>
                                <tr>
                                    <th>Validity:</th>
                                    <td><span id="s_plan_days"></span></td>
                                </tr>
                                <tr>
                                    <th>Start Date:</th>
                                    <td><span id="s_start_date"></span></td>
                                </tr>
                                <tr>
                                    <th>Timeslot:</th>
                                    <td><span id="s_timeslot"></span></td>
                                </tr> -->

                            <tr>
                                <th>Selected Days:</th>
                                <td><span id="s_days"></span></td>
                            </tr>
                        </table>
                        <!-- <div class="form-group" style="margin-top: 20px; margin-bottom: 40px;">
                                <label for="s_plan_days">Have A Coupon? </label>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <input type="text" id="coupon" class="form-control" placeholder="Have A Coupon?">
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" id="apply_coupon">Apply</button>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 3%; padding-left: 30%;">
                                    <p id="coupon-error"></p>
                                </div>
                                <i class="icon-phone"></i>
                            </div> -->
                        <!-- <div class="form-group" style="margin-bottom: 50px;">
                                <div class="row" style="margin-left: 15%;">
                                    <div class="col">
                                        <h5 class="text-danger">Total Amount: </h5>
                                    </div>
                                    <div class="col">
                                        <h5 id="total_amount">0</h5>
                                    </div>	
                                </div>
                            </div> -->
                        <h4>Breakdown: </h3>
                            <table class="table">
                                <tr>
                                    <th>Discounted Plan Price: </th>
                                    <td><span id="d_plan_price"></span></td>
                                </tr>
                                <tr>
                                    <th>Add Ons: </th>
                                    <td><span id="d_addons"></span></td>
                                </tr>
                                <tr>
                                    <th>Total Price </th>
                                    <td><span id="d_ppadd"></span></td>
                                </tr>
                                <tr>
                                    <th>GST: </th>
                                    <td><span id="d_gst"></span></td>
                                </tr>
                                <tr>
                                    <th>Total Amount: </th>
                                    <td><span class="" id="d_total_amount"></span></td>
                                </tr>
                            </table>
                            
                    </div>
                    <!-- /.inner -->
                    <div class="vector-img-one position-relative">
                        <img src="assets/img/vb5.png" alt="">
                    </div>
                    <div id="pc" class="back-next">
                        
                               
                                   <button class="" id="back-sub">BACK</button>
                                    <button class="" id="subnpay">SUBMIT & PAY</button>
                                    
                                   <button class="hidden" id="paylater">Pay
                                            Later</button>
                                            
                    </div>
                    <div id="mobile" class="back-next">
                        
                               
                        <div>
                            <button class="" id="back-subM">BACK</button>
                        </div>
                         <div>
                            <button class="" id="subnpayM">SUBMIT & PAY</button>
                         </div>
                         
                        <div>
                            <button class="hidden" id="paylaterM">Pay
                                Later</button>
                        </div>
                                 
                 </div>
                            <div class="back-next">
                                <a href="#" class="link-primary" id="link-pay-later">Can't pay
                                    now?</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            </form>
            </div>
        </div>
            <script src="assets/js/jquery-3.3.1.min.js"></script>
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/slick.min.js"></script>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script src="assets/js/main.js"></script>
            <script src="assets/js/custom.js"></script>
            <script src="assets/js/switch.js"></script>
            <script>
                jQuery(document).ready(function ($) {
                    console.log('asdsadsa');
                    let resp = $.post({
                        url: 'https://shop.soulsara.soulstudio.world/api/v1/login',
                        // url: 'http://localhost:2500/api/v1/login',
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        data: { 'username': 'admin@soulsara.com', 'password': 'admin' }
                    });
                });
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#profile-image')
                                .attr('src', e.target.result)
                                .width(150)
                                .height(200);
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                };
                $("#customFile").change(function () {
                    filename = this.files[0].name
                });



            </script>
        </body>